body {
  font: 10px sans-serif;
}

p {
  font: 12px helvetica;
}

.chart { 
  background: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.widget {
  margin-left: 25px;
  margin-top: 15px;
}

.brush .extent {
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

#load-thoughts {
  margin: 15px 25px;
}