.rate-gradient {
	font-family: 'Quicksand';
	width: 200px;
}

.rate-gradient-labels {
	color: #aaa;
	font-size: 13px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.left-label {
	padding-left: 3px;
}

.right-label {
	padding-right: 3px;
}

.percent-label {
	font-size: 11px;
    padding-top: 1px;
}

.empty-gradient {
	background: rgb(242, 242, 242);
	border-radius: 100px;
	height: 20px;
}

.full-gradient {
	background: rgb(241, 232, 134);
	border-radius: 100px;
	height: 100%;
}

.width-transition {
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}